In [80]:
train = pd.read_csv('/volume/data/train_age_full.txt', sep='\s+', header=None, names=['file', 'age', 'gender'])

In [54]:
test = pd.read_csv('/volume/data/age_test_no_labels.csv', header=None, names=['file'])

In [13]:
import re, glob

def find_image(file_name):
    #base_name = re.sub('.tif', '', str(file_name))
    base_name = str(file_name)
    images = glob.glob('/volume/data/age_test_1600/*' + base_name + '*') + \
        glob.glob('/volume/data/ddp3/*' + base_name + '*') + \
        glob.glob('/volume/data/ddp2/*' + base_name + '*') + \
        glob.glob('/volume/data/ddp/*' + base_name + '*')
    if len(images) > 0:
        return images[0]
    else:
        return None
    
test['image'] = test['file'].apply(find_image)

In [55]:
import re, glob

def find_image(file_name):
    #base_name = re.sub('.tif', '', str(file_name))
    base_name = str(file_name)
    images = glob.glob('/volume/data/age_test_1600/age_test/*' + base_name + '*') + \
        glob.glob('/volume/data/driver-download/*' + base_name + '*')
    if len(images) > 0:
        return images[0]
    else:
        return None
    
test['image'] = test['file'].apply(find_image)

In [57]:
test = test.dropna()

In [ ]:
train['study'] = code[code.str.len() == 18].str[:6]

In [ ]:
code = train['file'].str.extract('(\d+)', expand=False)
train['study'][code.str.len() == 18] = code.str[:6]
train['serial'][code.str.len() == 18] = code.str[6:6+3]
train['product'][code.str.len() == 18] = code.str[6+3:6+3+3]
train['time'][code.str.len() == 18] = code.str[6+3+3:6+3+3+2]
train['area'][code.str.len() == 18] = code.str[6+3+3+2:6+3+3+2+2]
train['repetition'][code.str.len() == 18] = code.str[6+3+3+2+2:6+3+3+2+2+2]

train['study'][code.str.len() == 14] = code.str[:5]
train['volunteer'][code.str.len() == 14] = code.str[5:5+4]
train['product'][code.str.len() == 14] = code.str[5+4:5+4+2]
train['time'][code.str.len() == 14] = code.str[5+4+2:5+4+2+1]
train['area'][code.str.len() == 14] = code.str[5+4+2+1:5+4+2+1+2]

In [61]:
code = test['file'].astype(str)

In [84]:
code = '0' + code

In [87]:
test['study'] = code.str[:6]
test['serial'] = code.str[6:6+3]
test['product'] = code.str[6+3:6+3+3]
test['time']= code.str[6+3+3:6+3+3+2]
test['area'] = code.str[6+3+3+2:6+3+3+2+2]
test['repetition'] = code.str[6+3+3+2+2:6+3+3+2+2+2]

In [89]:
test.to_csv('/volume/data/age_test_strip.csv')

In [90]:
test

,file,image,study,serial,product,time,area,repetition
0,31235005020003401,/volume/data/age_test_1600/age_test/0312350050...,031235,005,020,00,34,01
1,31235005010003301,/volume/data/age_test_1600/age_test/0312350050...,031235,005,010,00,33,01
2,31235006010003401,/volume/data/age_test_1600/age_test/0312350060...,031235,006,010,00,34,01
3,31235006020003301,/volume/data/age_test_1600/age_test/0312350060...,031235,006,020,00,33,01
4,31235007010003301,/volume/data/age_test_1600/age_test/0312350070...,031235,007,010,00,33,01
5,31235007020003401,/volume/data/age_test_1600/age_test/0312350070...,031235,007,020,00,34,01
6,31235008010003401,/volume/data/age_test_1600/age_test/0312350080...,031235,008,010,00,34,01
7,31235008020003301,/volume/data/age_test_1600/age_test/0312350080...,031235,008,020,00,33,01
8,31235009010003301,/volume/data/age_test_1600/age_test/0312350090...,031235,009,010,00,33,01
9,31235009020003401,/volume/data/age_test_1600/age_test/0312350090...,031235,009,020,00,34,01
10,31236001010003301,/volume/data/age_test_1600/age_test/0312360010...,031236,001,010,00,33,01
11,31236001020003401,/volume/data/age_test_1600/age_test/0312360010...,031236,001,020,00,34,01
12,31236010010003401,/volume/data/age_test_1600/age_test/0312360100...,031236,010,010,00,34,01
13,31236010020003301,/volume/data/age_test_1600/age_test/0312360100...,031236,010,020,00,33,01
14,31236011010003301,/volume/data/age_test_1600/age_test/0312360110...,031236,011,010,00,33,01
15,31236011020003401,/volume/data/age_test_1600/age_test/0312360110...,031236,011,020,00,34,01
16,31236012010003401,/volume/data/age_test_1600/age_test/0312360120...,031236,012,010,00,34,01
18,31236013010003301,/volume/data/age_test_1600/age_test/0312360130...,031236,013,010,00,33,01
19,31236013020003401,/volume/data/age_test_1600/age_test/0312360130...,031236,013,020,00,34,01
20,31236014010003401,/volume/data/age_test_1600/age_test/0312360140...,031236,014,010,00,34,01
21,31236014020003301,/volume/data/age_test_1600/age_test/0312360140...,031236,014,020,00,33,01
22,31236015020003401,/volume/data/age_test_1600/age_test/0312360150...,031236,015,020,00,34,01
23,31236015010003301,/volume/data/age_test_1600/age_test/0312360150...,031236,015,010,00,33,01
24,31236016020003301,/volume/data/age_test_1600/age_test/0312360160...,031236,016,020,00,33,01
25,31236016010003401,/volume/data/age_test_1600/age_test/0312360160...,031236,016,010,00,34,01
26,31236017010003301,/volume/data/age_test_1600/age_test/0312360170...,031236,017,010,00,33,01
27,31236017020003401,/volume/data/age_test_1600/age_test/0312360170...,031236,017,020,00,34,01
28,31236018020003301,/volume/data/age_test_1600/age_test/0312360180...,031236,018,020,00,33,01
29,31236018010003401,/volume/data/age_test_1600/age_test/0312360180...,031236,018,010,00,34,01
30,31236019010003301,/volume/data/age_test_1600/age_test/0312360190...,031236,019,010,00,33,01
...,...,...,...,...,...,...,...,...
1568,36810112001003301,/volume/data/age_test_1600/age_test/0368101120...,036810,112,001,00,33,01
1569,36810113002003401,/volume/data/age_test_1600/age_test/0368101130...,036810,113,002,00,34,01
1570,36810113001003301,/volume/data/age_test_1600/age_test/0368101130...,036810,113,001,00,33,01
1571,36810114001003301,/volume/data/age_test_1600/age_test/0368101140...,036810,114,001,00,33,01
1572,36810114002003401,/volume/data/age_test_1600/age_test/0368101140...,036810,114,002,00,34,01
1573,36810115002003401,/volume/data/age_test_1600/age_test/0368101150...,036810,115,002,00,34,01
1575,36810116001003301,/volume/data/age_test_1600/age_test/0368101160...,036810,116,001,00,33,01
1576,36810116002003401,/volume/data/age_test_1600/age_test/0368101160...,036810,116,002,00,34,01
1577,36810117002003401,/volume/data/age_test_1600/age_test/0368101170...,036810,117,002,00,34,01
1578,36810117001003301,/volume/data/age_test_1600/age_test/0368101170...,036810,117,001,00,33,01
1579,36810120001003301,/volume/data/age_test_1600/age_test/0368101200...,036810,120,001,00,33,01
1580,36810120002003401,/volume/data/age_test_1600/age_test/0368101200...,036810,120,002,00,34,01
1581,36810121002003401,/volume/data/age_test_1600/age_test/0368101210...,036810,121,002,00,34,01
1582,36810121001003301,/volume/data/age_test_1600/age_test/0368101210...,036810,121,001,00,33,01
1583,36810122002003401,/volume/data/age_test_1600/age_test/0368101220...,036810,122,002,00,34,01
1584,36810122001003301,/volume/data/age_test_1600/age_test/0368101220...,036810,122,001,00,33,01
1585,36810123002003401,/volume/data/age_test_1600/age_test/0368101230...,036810,123,002,00,34,01
1586,36810123001003301,/volume/data/age_test_1600/age_test/0368101230...,036810,123,001,00,33,01
1587,36810124001003301,/volume/data/age_test_1600/age_test/0368101240...,036810,124,001,00,33,01
1589,36810126002003401,/volume/data/age_test_1600/age_test/0368101260...,036810,126,002,00,34,01
1590,36810126001003301,/volume/data/age_test_1600/age_test/0368101260...,036810,126,001,00,33,01
1591,36810127001003301,/volume/data/age_test_1600/age_test/0368101270...,036810,127,001,00,33,01
1592,36810127002003401,/volume/data/age_test_1600/age_test/0368101270...,036810,127,002,00,34,01
1593,36810128002003401,/volume/data/age_test_1600/age_test/0368101280...,036810,128,002,00,34,01
1594,36810128001003301,/volume/data/age_test_1600/age_test/0368101280...,036810,128,001,00,33,01
1595,36810129002003401,/volume/data/age_test_1600/age_test/0368101290...,036810,129,002,00,34,01
1596,36810129001003301,/volume/data/age_test_1600/age_test/0368101290...,036810,129,001,00,33,01
1597,36810130001003301,/volume/data/age_test_1600/age_test/0368101300...,036810,130,001,00,33,01
1598,36810130002003401,/volume/data/age_test_1600/age_test/0368101300...,036810,130,002,00,34,01
1599,36810131001003301,/volume/data/age_test_1600/age_test/0368101310...,036810,131,001,00,33,01

In [ ]:
train = pd.read_csv('/volume/data/train_age_full_2.txt')
train.count()

In [ ]:
train[train['image'].notnull()].to_csv('/volume/data/train_age_full_2.txt', index=False)

In [ ]:
(train.age // 5).value_counts().sort_index()

In [ ]:
#train.to_csv('/volume/data/train_age_full_3.txt', index = False)

In [12]:
import os
os.putenv('CUDA_VISIBLE_DEVICES', '3')

In [1]:
import sugartensor as tf
import numpy as np
import pandas as pd

In [3]:
sess = tf.InteractiveSession()

In [4]:
train_size = 8522
batch_size = 2   # batch size

csv_reader = tf.TextLineReader(skip_header_lines=1)
csv_file = tf.train.string_input_producer(['/volume/data/train_age_full_2.txt'])
_, csv_row = csv_reader.read(csv_file)

record_defaults = record_defaults = [
                   tf.constant([], dtype=tf.string),    # Column 0
                   tf.constant([20], dtype=tf.int32),     # Column 1
                   tf.constant(['m'], dtype=tf.string),    # Column 2
                   tf.constant([], dtype=tf.string)]    # Column 3
_, age, gender, image_path = tf.decode_csv(csv_row, record_defaults=record_defaults)
                            
image_queue = tf.FIFOQueue(10000, tf.string)
age_queue = tf.FIFOQueue(10000, tf.int32)
image_init = image_queue.enqueue(image_path)
age_init = age_queue.enqueue(age)

#filename_queue = tf.train.string_input_producer(image_file)
image_reader = tf.WholeFileReader()

_, image_data = image_reader.read(image_queue)
image = tf.image.decode_jpeg(image_data)

image_slice = tf.slice(image, [0,0,0], [1505,2257,3])
image_slice.set_shape((1505, 2257, 3))

images = tf.train.batch([image_slice], batch_size=batch_size, num_threads=1, capacity=3*batch_size, dynamic_pad=True,allow_smaller_final_batch=True)
ages = tf.train.batch([age], batch_size=batch_size, num_threads=1, capacity=3*batch_size, dynamic_pad=False,allow_smaller_final_batch=True)

In [10]:
tf.to_float(images).sg_conv(dim=64).sg_flatten().sg_dense(dim=128)

In [ ]:
y = tf.to_float(images).sg_conv(dim=64).sg_conv(dim=128).sg_flatten().sg_dense(dim=1024).sg_dense(dim=128).sg_dense(dim=1, act='linear')

In [ ]:
err = y.sg_mse(target=tf.to_float(ages))

In [ ]:
opt = tf.sg_optim(err, lr=0.0001)

In [11]:
sess.run(tf.initialize_all_variables())

KeyboardInterrupt:

In [ ]:
coord = tf.train.Coordinator()
threads = tf.train.start_queue_runners(coord=coord)

image_qr = tf.train.QueueRunner(image_queue, [image_init])
image_threads = image_qr.create_threads(sess, coord=coord, start=False)

age_qr = tf.train.QueueRunner(age_queue, [age_init])
age_threads = age_qr.create_threads(sess, coord=coord, start=False)

In [ ]:
for step in range(4):
    if coord.should_stop():
        break
        
    for i in range(batch_size):
        sess.run(image_init)
        sess.run(age_init)
        
    l = sess.run([err, opt])[0]
    print np.mean(l)
    #print np.shape(sess.run(images))

#coord.request_stop()
#coord.join(threads)
#coord.join(image_threads)

In [ ]:
#
# training
#

# def alternate training func
@tf.sg_train_func
def alt_train(sess, opt):
    l = sess.run([err, opt])[0]
    return np.mean(l)

# do training
alt_train(log_interval=10, max_ep=30, ep_size=train_size // batch_size, early_stop=False)

In [95]:
test.to_csv('/volume/data/test_filtered.csv', index=False)